body {
	padding-left: 11em;
	font-family: Arial;
	color: HoneyDew;
	background-color: #8B0000}

h1 {
	font-family: Arial;
	text-shadow: 3px 3px black;
	text-align: center;
	letter-spacing: 2px;
	text-decoration: underline;
}

ul.navbar li {
	font-size: 20px;
	background: white;
	margin: 12em;
	padding: 4em;
	border: 0.5em solid #e6e6e6
     }
p {
	font-family : Arial;
	font-size: 20px;
}

ul.navbar {
	list-style-type: none;
	padding: 10;
	margin: 10;
	position: absolute;
	top: 15em;
	left: 1em;
	width: 50em }



ul.navbar a {
    text-decoration: none }


  a:link {
    color: Salmon }
  a:visited {
    color: RosyBrown }


